$content-desktop              = 'calc(100% - %s)' % unit($content-desktop-padding / 2, 'px');
// $content-desktop-large        = 1160px;
// $content-desktop-largest      = 73%;

$content-desktop-large   = 85em
$content-desktop-largest = 85%